{% extends "layouts/base.html" %}
{% import 'macros/recipe_details.html' as recipe_details %}
{% block content %}
<article>
    <h2>Welcome to the world of cocktails!</h2>
    <p>This is a community-driven recipe app for cocktail enthusiasts. <a href="/recipes">Browse</a> our collection of
        drinks, and discover new favorites. Whether you're a home bartender or just curious, you have come to the right
        place!</p>
    <p>By creating your own account, you will be able to save your own recipes, post reviews and rate drinks you've
        tried.</p>
</article>
<div class="two-columns">
    <section>
        <h2>Latest recipes</h2>
        {% if recipes %}
        <ul>
            {% for recipe in recipes %}
            <li>
                <article>
                    {{ recipe_details.render(recipe) }}
                </article>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No recipes found</p>
        {% endif %}
    </section>
    <section>
        <h2>Latest reviews</h2>
        {% if reviews %}
        <ul>
            {% for review in reviews %}
            <li>
                <article>
                    <h3><a href="/recipes/{{review.recipe_id}}">{{review.recipe_title}}</a> - {{review.title}}</h3>
                    <p>{{review.content | show_lines}}</p>
                    <p>Rating: <span>{{'★' * review.rating}}</span></p>
                    <p>By <a href="/users/{{review.user_id}}">{{review.username}}</a> at
                        {{review.created_at|format_datetime}}</p>
                </article>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No reviews found</p>
        {% endif %}
    </section>
</div>
{% endblock %}