<!DOCTYPE html>

<html lang="en">

<head>
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <div>
            <label for="username">Username</label>
            <input id="username" name="username" type="text" />
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
        </div>
        <input type="submit" value="Submit" />
    </form>
    <p>Not registered? Create a <a href="/register">new account</a> instead.</p>
</body>

</html>