{% extends "layouts/base.html" %}
{% import 'macros/recipe_details.html' as recipe_details %}
{% block content %}
<div class="two-columns">
    <article>
        {{ recipe_details.render(recipe) }}

        {% if session.user and session.user.id == recipe.user_id %}
        <div class="flex-container">
            <a href="/recipes/{{recipe.id}}/update">Edit recipe</a>
            <form action="/recipes/{{recipe.id}}/delete" method="post">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <input type="submit" value="Delete recipe" />
            </form>
        </div>
        {% endif %}
    </article>
    <article>
        <h2>Reviews</h2>
        {% if session.user and session.user.id != recipe.user_id %}
        {% if user_review %}
        <p>You have written the following review:</p>
        <h3>{{user_review.title}}</h3>
        <p>{{user_review.content | show_lines}}</p>
        <p>Rating: <span>{{'★' * user_review.rating}}</span></p>
        <a href="/recipes/{{recipe.id}}/review/update">Edit your review</a>
        {% else %}
        <a href="/recipes/{{recipe.id}}/review/new">Write a review</a>
        {% endif %}
        <hr />
        {% endif %}

        {% if reviews["items"] %}
        <ul class="user-reviews">
            {% for review in reviews["items"] %}
            <li>
                <h3>{{review.title}}</h3>
                <p>{{review.content | show_lines}}</p>
                <p>Rating: <span>{{'★' * review.rating}}</span></p>
            </li>
            {% endfor %}
        </ul>
        <nav>
            <ul class="pagination-ctrls">
                <li><a href="?page=1">First</a></li>
                <li>
                    {% if reviews.page > 1 %}
                    <a href="?page={{reviews.page-1}}">Prev</a>
                    {% else %}
                    <span>Prev</span>
                    {% endif %}
                </li>
                <li><span>{{reviews.page}} / {{reviews.page_count}}</span></li>
                <li>
                    {% if reviews.page_count > reviews.page %}
                    <a href="?page={{reviews.page+1}}">Next</a>
                    {% else %}
                    <span>Next</span>
                    {% endif %}
                </li>
                <li><a href="?page={{reviews.page_count}}">Last</a></li>
            </ul>
        </nav>
        {% endif %}

        {% if not reviews.items and not user_review %}
        <p>No reviews found.</p>
        {% endif %}
    </article>
</div>
{% endblock %}