<!DOCTYPE html>

<html lang="en">

<head>
    <title>Registration</title>
</head>

<body>
    <h1>Create a new account</h1>
    <form action="/register" method="post">
        <p>
            <label for="username">Username</label>
            <input type="text" name="username" />
        </p>
        <p>
            <label for="password1">Password</label>
            <input type="password" name="password1" />
        </p>
        <p>
            <label for="password2">Repeat password</label>
            <input type="password" name="password2" />
        </p>
        <input type="submit" value="Register" />
    </form>
</body>

</html>