{% macro render(recipe) -%}
<h3><a href="/recipes/{{recipe.id}}">{{recipe.title}}</a></h3>
<p>{{recipe.ingredients | show_lines}}</p>
<p>{{recipe.instructions | show_lines}}</p>
{% if recipe.tags %}
<p><span>Tags: </span>{{recipe.tags}}</p>
{% endif %}
{% if recipe.avg_rating %}
<p><span>Rating: </span>{{recipe.avg_rating | round(2, 'common')}}</p>
{% endif %}
<p>Created by <a href="/users/{{recipe.user_id}}">{{recipe.username}}</a> at {{recipe.created_at |
    format_datetime}}</p>
{%- endmacro %}