{% macro create(form, validation_errors, action, tags) -%}
<form action="{{action}}" method="post">
    <p>
        <label for="recipe-title">Title</label>
        <input id="recipe-title" type="text" name="title" value="{{form.title}}" size="30" required maxlength="30" />
        {% if "title" in validation_errors %}
        <span>{{validation_errors["title"]}}</span>
        {% endif %}
    </p>
    <p>
        <label for="recipe-ingredients">Ingredients</label>
        <textarea id="recipe-ingredients" name="ingredients" rows="5" cols="40" required
            maxlength="200">{{form.ingredients}}</textarea>
        {% if "ingredients" in validation_errors %}
        <span>{{validation_errors["ingredients"]}}</span>
        {% endif %}
    </p>
    <p>
        <label for="recipe-instructions">Instructions</label>
        <textarea id="recipe-instructions" name="instructions" rows="5" cols="40" required
            maxlength="200">{{form.instructions}}</textarea>
        {% if "instructions" in validation_errors %}
        <span>{{validation_errors["instructions"]}}</span>
        {% endif %}
    </p>
    {% if tags %}
    <fieldset class="tags-container">
        <legend>Tags</legend>
        {% for tag in tags %}
        <div>
            {% if tag.id in form.tags %}
            <input id="recipe-tag-{{tag.id}}" type="checkbox" name="tags" value="{{tag.id}}" checked />
            {% else %}
            <input id="recipe-tag-{{tag.id}}" type="checkbox" name="tags" value="{{tag.id}}" />
            {% endif %}

            <label for="recipe-tag-{{tag.id}}" class="inline-item">{{tag.name}}</label>
        </div>
        {% endfor %}
    </fieldset>
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Submit" />
</form>
{%- endmacro %}