* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: auto;
    max-width: 65rem;
}

div.flex-container {
    display: flex;
    gap: 1rem;
}

ul.main-navigation {
    display: flex;
    gap: 1rem;
    padding: 0;

    & li {
        list-style-type: none;
    }
}

fieldset.tags-container {
    margin-bottom: 1rem;
    width: 18rem;
}

label {
    display: block;
}

.inline-item {
    display: inline;
}

ul.user-reviews {
    padding: 0;

    & li {
        border-bottom: 1px solid black;
        list-style-type: none;
    }
}

li.user-review {
    list-style-type: none;
}

li.pagination-ctrl {
    list-style-type: none
}

ul.pagination-ctrls {
    display: flex;
    gap: 1rem;
    padding: 0;
}

form.search-form {
    margin-bottom: 1rem;
}

table.search-results {
    border-spacing: 1rem 0;
    text-align: left;
}

ul.carousel {
    anchor-name: --my-carousel;
    padding: 2rem;
    display: flex;
    gap: 1vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::scroll-button(*) {
        border: 0;
        font-size: 2rem;
        background: none;
        cursor: pointer;
    }

    &::scroll-button(*):hover {
        opacity: 1;
    }

    &::scroll-button(*):focus {
        opacity: 1;
    }

    &::scroll-button(*):active:not(:disabled) {
        translate: 1px 1px;
    }

    &::scroll-button(*):disabled {
        opacity: 0.5;
        cursor: unset;
    }

    &::scroll-button(*) {
        position: absolute;
        position-anchor: --my-carousel;
    }

    &::scroll-button(left) {
        content: "◄" / "Previous";
        right: calc(anchor(center));
    }

    &::scroll-button(right) {
        content: "►" / "Next";
        left: calc(anchor(center));
    }

    & li {
        list-style-type: none;
        background-color: #eeeeee;
        padding: 20px;
        flex: 0 0 100%;
        scroll-snap-align: center;
    }

    & li:nth-child(even) {
        background-color: #dddddd;
    }
}
