* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: auto;
    max-width: 60rem;
}

div.flex-container {
    display: flex;
    gap: 1rem;
}

ul.main-navigation {
    display: flex;
    gap: 1rem;
    padding: 0;

    & li {
        list-style-type: none;
    }
}

fieldset.tags-container {
    margin-bottom: 1rem;
    width: 18rem;
}

label {
    display: block;
}

.inline-item {
    display: inline;
}

ul.user-reviews {
    padding: 0;

    & li {
        border-bottom: 1px solid black;
        list-style-type: none;
    }
}

li.user-review {
    list-style-type: none;
}

li.pagination-ctrl {
    list-style-type: none
}

ul.pagination-ctrls {
    display: flex;
    gap: 1rem;
    padding: 0;
}

form.search-form {
    margin-bottom: 1rem;
}

table.search-results {
    border-spacing: 1rem 0;
    text-align: left;
}