fieldset.tags-container {
    margin-bottom: 1rem;
    width: 18rem;
}

label {
    display: block;
}

label.inline {
    display: inline;
}

li.user-review {
    list-style-type: none;
}

li.pagination-ctrl {
    list-style-type: none
}

ul.pagination-ctrls {
    display: flex;
    gap: 1rem;
    padding: 0;
}