{% extends "layouts/base.html" %}
{% block content %}
<h2>Recipe details</h2>
<p>{{recipe.title}}</p>
<p>{{recipe.ingredients | show_lines}}</p>
<p>{{recipe.instructions | show_lines}}</p>

{% if session.user and session.user.id == recipe.user_id %}
<a href="/recipes/{{recipe.id}}/update">Edit recipe</a>
<form action="/recipes/{{recipe.id}}/delete" method="post">
    <input type="submit" value="Delete recipe" />
</form>
{% endif %}
<h2>Reviews</h2>
{% if session.user and session.user.id != recipe.user_id %}
{% if user_review %}
<p>You have written the following review:</p>
<h3>{{user_review.title}}</h3>
<p>{{user_review.content | show_lines}}</p>
<a href="/recipes/{{recipe.id}}/review/update">Edit your review</a>
{% else %}
<a href="/recipes/{{recipe.id}}/review/new">Write a review</a>
{% endif %}
{% endif %}

{% if reviews %}
<ul>
    {% for review in reviews %}
    <li>
        <h3>{{review.title}}</h3>
        <p>{{review.content | show_lines}}</p>
        <!-- TODO: render the rating -->
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if not reviews and not user_review %}
<p>No reviews found.</p>
{% endif %}

{% endblock %}