{% extends "layouts/base.html" %}
{% block content %}
<h2>Recipes</h2>

<form action="/recipes" method="get">
    <input type="text" name="query" value="{{form.query or ''}}" />
    <input type="submit" value="Search" />
</form>
{% if recipes %}
<table>
    <thead>
        <th scope="col">Title</th>
        <th scope="col">Created by</th>
        <th scope="col">Created at</th>
    </thead>
    <tbody>
        {% for recipe in recipes %}
        <tr>
            <th scope="row"><a href="/recipes/{{recipe.id}}">{{recipe.title}}</a></th>
            <td>{{recipe.username}}</td>
            <td>{{recipe.created_at}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No recipes found</p>
{% endif %}
{% endblock %}